<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notehub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NoteHub"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SettingsActivity" android:theme="@style/noAnimation"></activity>
        <activity
            android:name=".GroupMembersActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".GroupActivity" android:theme="@style/noAnimation"/>
        <activity
            android:name=".InnerGroupActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".NoteActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".LoginActivity"  android:theme="@style/noAnimation" />
        <activity android:name=".HomeActivity" android:theme="@style/noAnimation"/>
        <activity android:name=".AccountActivity" android:theme="@style/noAnimation"/>
        <activity
            android:name=".MainActivity"
            android:label="NoteHub"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>